body{
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    
    font-family: 'Press Start 2P', cursive;
    background: repeating-linear-gradient(0deg, #0f0a1e, #0f0a1e 2px, #222 2px, #222 4px);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: 3px solid #00fc00;
    outline-offset: -3px;
}

h1 {
    text-align: center;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#start {
    background-color: #4CAF50;
    transition: all 0.3s;
    position: relative;
    opacity: 1;
    transform: scale(1, 1);
}

#start span {
    transition: all 0.3s;
}

#start:hover span {
    transform: scale(0.1, 1);
    letter-spacing: 2px;
}

#start:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

#start::after {
    content: "";
    position: absolute;
    background-color: #4CAF50;
    z-index: 1;
    transition: all(0.3s);
}

#start:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

#start:hover {
    background-color: #00fc00;
}

#start:active {
    background-color: #245126;
    transform: translateY(4px);
}

#restart {
    background-color: #4CAF50;
    transition: all 0.3s;
    position: relative;
    opacity: 1;
    transform: all .35s;
}

#restart span {
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}

#restart:hover {
    background-color: #f44336;
    transform: scale(1.1, 1.1);
    transform: translate(2px, 2px);
    color: white;
    box-shadow: 0 0 10px #f44336;
}

#restart:active {
    background-color: #f44336;
    transform: translateY(4px);
}

#header {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    /* animation: blink 1s steps(4, start) infinite; */
}

#insertCoin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    animation: blink 1s steps(4, start) infinite;
}

.container {
    margin: 20px;
    text-align: center;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}