body{
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    background: repeating-linear-gradient(0deg, #0f0a1e, #0f0a1e 2px, #222 2px, #222 4px);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    position:absolute;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: 3px solid #00fc00;
    outline-offset: -3px;
}

h1 {
    text-align: center;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}


#start {
    transition: all 0.3s;
    position: relative;
    opacity: 1;
    transform: scale(1, 1);
}

#start span {
    transition: all 0.3s;
}

#start:hover span {
    transform: scale(0.1, 1);
    letter-spacing: 2px;
}

#start:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

#start::after {
    content: "";
    position: absolute;
    z-index: 1;
    transition: all(0.3s);
}

#start:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

#start:hover {
    background-color: #00fc00;
    box-shadow: 0 0 10px #00fc00;
}

#start:active {
    background-color: #245126;
    transform: translateY(4px);
}

#restart {
    transition: all 0.3s;
    position: relative;
    opacity: 1;
    transform: all .35s;
}

#restart span {
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}

#restart:hover {
    background-color: #f44336;
    transform: scale(1.1, 1.1);
    transform: translate(2px, 2px);
    color: white;
    box-shadow: 0 0 10px #f44336;
}

#restart:active {
    background-color: #8a2820;
    transform: translate(4px, 4px);
}

#header {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
}

#insertCoin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    animation: blink 1s steps(4, start) infinite;
}

#instructions {
    margin-right: auto;
    top:50%;
    left: 50%;
}

#instructions li {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

#howToPlay {
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.container {
    margin: 20px;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper {
    margin: 20px;
    position: relative;
    min-height: 40vh;
}

.button-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
}

.button {
    background-color: #4CAF50;
    display: inline-block;
    margin: 0 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hidden {
    display: none;
}

.modal-content {
    background: #111;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    color: white;
}

.modal-content input {
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    padding: 12px 12px;
    cursor: pointer;
    background-color: #4CAF50;
    display: inline-block;
    margin: 0 10px;
    transition: all 0.3s;
}

.modal-buttons button:hover {
    background-color: #00fc00;
    box-shadow: 0 0 10px #00fc00;
    transform: scale(1.1, 1.1);
    transform: translate(2px, 2px);

}

#cancelBtn {
    background-color: #f44336;
    color: white;
}

#cancelBtn:hover {
    box-shadow: 0 0 10px #f44336;
}

#leaderboardList {
    width: 100%;
    padding: 0;
    text-align: center;
}

#leaderboardList li {
    margin: 8px 0;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}